@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Changa:wght@300;500&family=Hubballi&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #00ADEE;
    padding: 20px;
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 30%;

}

.navbar {
    width: 40%;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li {
    margin: 15px;
}

.navbar a {
    padding: 15px;
    color: #182780;
    font-size: 25px;
    font-family: 'Hubballi', cursive;
    font-weight: 700;
    border: 1px solid #182780;
    border-radius: 12px;
}

.navbar a:hover {
    color: #5B020D;
    background-color: #FFF;
}

.navbar a:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainPart {
    background-image: url(https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}

.mainPart ul {
    padding: 10px;
}

.mainPart li {
    font-size: 26px;
}

.mainPart li,
.mainPart h1 {
    width: 55%;
    margin: 10px auto;
    font-family: 'Hubballi', cursive;
    text-align: center;
}

.mainPart h1 {
    color: brown;
    font-size: 45px;
}

strong {
    font-weight: 700;
}

.content {
    display: flex;
    margin: 20px 30px;
    padding: 25px;
}

.content p {
    background-color: #ecedf1;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
    text-align: center;

}

.content img {
    width: 35%;
    padding: 15px;
}

.content1 p {
    color: #7a0815dc;
    background-color: #dacacc;
}

.content2 p {
    color: #182780;
    background-color: #b3b8d3;
}

.content3 p {
    color: rgb(4, 80, 4);
    background-color: rgb(180, 226, 180);
}

.footerPart {
    height: 100px;
    padding: 25px;
    border-top: 2px solid gray;
    clear: both;
}

.footerPart p {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 22px;
    padding: 10px;
}

/* Books */

.mainPart2 {
    padding: 15px;
    background: linear-gradient(90deg, rgb(65, 1, 1) 0%, rgb(202, 11, 11) 35%, rgba(238, 76, 76, 0.924) 100%);
    height: 1000px;
}

.mainPart2 h1 {
    width: 60%;
    text-align: center;
    margin: 15px auto;
    font-family: 'Hubballi', cursive;
    font-size: 40px;
    padding: 15px;
    color: #ecedf1;
    font-weight: 700;
}

.card {
    width: 90%;
    margin: 10px auto;
}

.card-content {
    background-color: rgb(177, 212, 177);
    width: 300px;
    height: 400px;
    margin: 15px;
    padding: 15px;
    float: left;
}

.card-info {
    height: 55%;
    text-align: center;
}

.card-title {
    border: 1px dashed black;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.card-info p {
    font-size: 18px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img {
    height: 250px;
    width: 272px;
    padding: 10px;
    height: 45%;
}

.card-img img {
    object-fit: cover;
    width: 100%;
}

/* Quotes */

.mainPart3 {
    width: 80%;
    margin: 40px auto;
}

.quote {
    float: left;
    background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    width: 68%;
    padding: 30px;
    margin: 20px;
}

.quote-content {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(58, 54, 54);
    padding: 15px;
}

.text {
    margin-top: 10px;
    color: #5B020D;
}

.sidebar {
    float: right;
    background-image: url(https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 20px;
    height: 400px;
}

.sidebar h2 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.sidebar-content li {
    margin-bottom: 15px;
    border: 1px solid rgb(71, 14, 109);
    padding: 10px;
}

.sidebar-content a {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}